/* Global Artist Page Styles */

/* General styles for artist sections */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #C4A76B;
  }
  
  header {
    background-color: #fff;
    color: #fff;
    padding: 20px 0;
    text-align: center;
  }
  
  h1, h2 {
    color: #333;
  }
  
  /* Artist section styles */
  .artist {
    background-color: #fff;
    padding: 20px;
    margin: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
  }
  
  /* Artist gallery styles */
  .gallery {
    background-color: #fff;
    padding: 20px;
    margin: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .masonry-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 1.5%;
    justify-content: center;
  }
  
  .grid-item {
    width: 200px;
    margin-bottom: 20px;
  }
  
  .grid-item--width2 { width: 400px; }

  .grid-item img {
    width: 100%;
    height: auto;
    border-radius: 1px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  /* AOS animation */
  [data-aos] {
    transition: all 0.3s ease-in-out;
  }
  
   footer {
    background: #1B2F50;
    color: #C4A76B;
    padding: 2rem;
  }
  
  .footer-columns {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }
  
  .footer-columns div {
    flex: 1;
    min-width: 150px;
    margin: 1rem;
  }
  
  .footer-columns a{
    color: #C4A76B;
    text-decoration: none;
  }

  .lightbox, .lightboxOverlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.7); /* semi-transparent background */
    justify-content: center;
    align-items: center;
    z-index: 9999;
  }
  
  /* Show lightbox when active */
  .lightbox-active, .lightboxOverlay-active {
    display: flex;
  }
  
  /* Style for the lightbox content */
  .lightbox img {
    max-width: 90%;
    max-height: 90%;
    margin: auto;
  }